<div class="signuppg">
	<div id="headtext">
			<div class="jumbotron text-center">
			<img src="img/whitelogoGOT.png" alt="logoGoT" width="100%"> 
		</div>

	</div>	


<div class="difficultyselect">

	
<div class="difficultyBox " ng-controller="log_quizselect">

    <a class="logBtn" ng-href="#/q1" ng-click="easy()">Easy
    	<img src="img/timer.png" alt="time icon" width="10%">
    	<span class="timing">25 seconds</span>
    </a>
	<a class="logBtn" ng-href="#/q1" ng-click="med()">Medium
	<img src="img/timer.png" alt="time icon" width="10%">
    	<span class="timing">25 seconds</span>
    </a>
	<a class="logBtn" ng-href="#/qh1" ng-click="hard()" >Hard
	<img src="img/timer.png" alt="time icon" width="10%">
    	<span class="timing">10 seconds</span>
    </a>

</div>
	
</div>




