 <!doctype html>
<html>



 <body>

<div class="signuppg">
	<div id="headtext">
			<div class="jumbotron text-center">
			<img src="img/whitelogoGOT.png" alt="logoGoT" width="100%">
		</div>

	</div>
 	<div class="jumbotron text-center">




        <form>
						<!--<span class="formname">Username:</span> -->
						<!--<span class="formline">-->
						<!--<<span class="formname"><img src="../img/name.png" width="20px" alt="name icon"></span>-->

						<!-- irene modified-->
						<input ng-model="user.name" type="text" name="username" placeholder="Name :"/>
					<!--</span>-->
						<br />

						<!--<span class="formline">
						<span class="formname">Email:</span>
						<span class="formname"><img src="../img/email.png" width="20px" alt="email icon"></span>
						<input type="text" name="email" value="" placeholder="Email" autofocus="autofocus"/>
						</span>
						<br />

						<span class="formline">
						<span class="formname">Password:</span>
						<span class="formname"><img src="../img/password.png" width="20px" alt="password icon"></span>
						<input type="password" name="password" placeholder="Password" value=""/>
						</span>
						<br />-->

						<br />
						<!-- submit button-->
						<!-- <input type="submit" name="submit" value="Sign Up"/>-->
					</form>




<p>
<!--<a class="btn btn-lg btn-success" ng-href="#/q1">Rank</a>-->


<a class="logBtn" ng-href="#/log">Start</a></p>





					 <!-- irene modified -->

					 <!--  <p><a class="btn btn-lg btn-success" ng-href="#/q1">Rank

          			</a><a class="btn btn-lg btn-success" ng-click="start()">Start</a></p>-->
          			<!-- end irene modified -->


<!--<p><a class="btn btn-lg btn-success" ng-href="#/q1">Rank</a><a class="btn btn-lg btn-success" ng-href="#/log">Start</a></p>-->


         <!-- <img src="img/stark.jpg" width="25%"><img src="img/lannister.jpg" width="25%"><img src="img/baratheon.jpg" width="25%"><img src="img/targaryen.jpg" width="25%">-->


      </div>

     </div>
 </body>
 </html>
